/* Color scheme */
$white: #fff;
$grey1: #f9fafa !default;
$grey2:#DBE5EA !default;
$grey3: #bdc3c8 !default;
$grey4: #7f8c8d!default;
$deep: #35495e !default;
$darky: #2a3a4b !default;
$black: #253341 !default;
$orange: #FE7A53 !default;
$mint: #1aa1a1 !default;
$mintL: #73bbc0 !default;
$mintD: #0b575f !default;

$custom-colors: () !default;
$custom-colors: map-merge(( 
  "grey1" : $grey1,
  "grey2" : $grey2,
  "grey3" : $grey3,
  "grey4" : $grey4,
  "deep" : $deep,
  "darky" : $darky,
  "black" : $black,
  "orange" : $orange,
  "mint" : $mint,
  "mintL" : $mintL,
  "mintD": $mintD,
  ), $custom-colors);


  $custom-color-interval: 8% !default;
@each $color,
$value in $custom-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color,
$value in $custom-colors {
  .btn-outline-#{$color} {
    @if $color=="light" {
      @include button-outline-variant($value, $gray-900);
    }
    @else {
      @include button-outline-variant($value, $white);
    }
  }
}


body {
  background: $deep;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
} 
h1 {
  opacity: 0;
  height: 5%;
  position: relative;
}

.container {
  width: 90%;
  max-width: 70em;
  margin: 0 auto;
  padding: 0 5em 3.125em 10em;
}